@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: linear-gradient(218deg, #121122 1px, #4070f4 800px);
}
.bck{
    display: block;
    height: 25px;
    width: 25px;
    position: relative;
    top: 2.5em;
    left: 3em;
}

.bigBack{
    height: 50px;
    width: 50px;
    background-color: rgba(153, 153, 153, 0.438);
    border: none;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.1s;
}
.backBtn{
    height: 25px;
    width: 25px;
    background-color: transparent;
    box-shadow: 5px 5px black;
    transform: rotate(135deg);
    position: relative;
    right: -10px;
}
.bigBack:hover{
    transform: scale(1.3);
}
.sv{
    font-family: 'Poppins', sans-serif;
    position: relative;
    top: 5em;
    left: 2em;
    width: max-content;
    color: #ffffff;
    text-shadow: 1px 1px #000000;
    font-weight: 700;
}
#showHideIco{
    background: url('shownPasswdIco.png');
    background-repeat: no-repeat;
}
.sui{
    
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(220deg, #121122 1px, #4070f4 800px);
    margin-top: -8em;
}
.f1, .f2{
    position: relative;
    margin-top: -4em;
    top: 10em;
}
.f2{
    left: 2.5em;
    top: 15em;
}
@keyframes shaker{
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-8deg);
    }
    50%{
        transform: rotate(8deg);
    }
    75%{
        transform: rotate(-8deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
.f1:hover, .f2:hover{
    animation: shaker 0.4s ease-in-out 1;
    transition: .1s;
}
/**.f1:active{
    animation: selector 1s ease-in-out forwards;
}**/
.f2:active{
    animation: selectorF 1s ease-in-out forwards;
}
.clickableLuffy{
    height: max-content;
    width: max-content;
    background-color: transparent;
    border: none;
}
.clickableGoku{
    height: max-content;
    width: max-content;
}
@keyframes selector{
    0%{
        transform: scale(1);
        left: 0em;
    }
    50%{
        transform: scale(1.25);
        left: 25em;
    }
    100%{
        transform: scale(1.5);
        left: 25em;
        top: 22em;
    }
}
@keyframes selectorBackLuffy{
    0%{
        transform: scale(1.5);
        left: 25em;
        top: 22em;
    }
    50%{
        transform: scale(1.25);
        left: 25em;
    }
    100%{
        transform: scale(1);
        left: 0em;
    }
}
@keyframes selectorF{
    0%{
        content: url('tpGoju.png');
    }
    1%{
        transform: scale(1);
        left: 2.5em;
        content: url('tpGoju.png');
    }
    100%{
        transform: scale(1.5);
        left: 27em;
        top: 18em;
    }
}
@keyframes selectorFBackGoku{
    0%{
        transform: scale(1.5);
        left: 27em;
        top: 18em;
    }
    100%{
        transform: scale(1);
        left: 2.5em;;
    }
}
.rower{
    display: flex;
    flex-direction: column;
}
.container{
    position: relative;
    top: -1em;
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 0 20px;
    box-shadow: 0 6px 9px rgba(0,0,0,0.16), 0 6px 9px rgba(0,0,0,0.23), 0 0 10px #aaa inset;
}

.container .forms{
    display: flex;
    align-items: center;
    height: 440px;
    width: 200%;
    transition: height 0.2s ease;
}


.container .form{
    width: 50%;
    padding: 30px;
    background-color: #fff;
    transition: margin-left 0.18s ease;
}

.container.active .login{
    margin-left: -50%;
    opacity: 0;
    transition: margin-left 0.18s ease, opacity 0.15s ease;
}

.container .signup{
    opacity: 0;
    transition: opacity 0.09s ease;
}
.container.active .signup{
    opacity: 1;
    transition: opacity 0.2s ease;
}

.container.active .forms{
    height: 600px;
}
.container .form .title{
    position: relative;
    font-size: 27px;
    font-weight: 600;
}

.form .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #4070f4;
    border-radius: 25px;
}

.form .input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}

.form .checkbox-text{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.checkbox-text .checkbox-content{
    display: flex;
    align-items: center;
}

.checkbox-content input{
    margin-right: 10px;
    accent-color: #4070f4;
}

.form .text{
    color: #333;
    font-size: 14px;
}

.form a.text{
    color: #4070f4;
    text-decoration: none;
}
.form a:hover{
    text-decoration: underline;
}

.form .button{
    margin-top: 35px;
}

.form .button input{
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #4070f4;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #265df2;
}

.form .login-signup{
    margin-top: 30px;
    text-align: center;
}
