:root{
    --shadowOne:
        -10px -10px 10px grey,
        1px 1px 5px grey;
    --shadowTwo:
        10px 10px 10px grey,
        -1px -1px 5px grey;
    --shadowThree:
        -10px -10px 10px grey,
        3px 3px 3px grey;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
*{
    font-family: Helvetica;
    color: #00ff95;
}
h1.Order{
    color: #000000;
    text-shadow: 1px 1px rgb(255, 255, 255);
}
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
}
a{
    text-decoration: none;
}
.main{
    background-image: url('https://github.com/siterayenbhr/MangaBurner/blob/7ca0af7f496d1ef23247d6383df8b06a1eab067a/bgfull.png');
    height: 45em;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.maine{
    background-image: url('https://storage.cloudconvert.com/tasks/7548c648-90c8-42ae-90c9-6c5052703809/bgfull.png?AWSAccessKeyId=cloudconvert-production&Expires=1673904493&Signature=fY8f9c0qBVOLydMEqE5iBHkfmkM%3D&response-content-disposition=inline%3B%20filename%3D%22bgfull.png%22&response-content-type=image%2Fpng');
    height: 45em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.types{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    height: 10em;
}
.types h1{
    color: #ffffff;
    font-weight: 880;
    text-shadow: 2px 2px black;
}
.mangas{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-left: -3em;
}
.mangas .coloredManga{
    margin-left: -4em;
}
.mangas .classicManga, .coloredManga{
    transition: .2s;
}
.mangas .classicManga:hover{
    transform: scale(1.3);
}
.mangas .coloredManga:hover{
    transform: scale(1.3);
}
.main img{
    border-radius: 10px;
    transform: rotate(5deg);
    transform: skew(-5deg);
    position: relative;
    box-shadow: 40px 40px 20px rgba(0, 0, 0, 0.562);
    animation: floater 2.5s ease-in-out infinite;
}

@keyframes floater{
    0%{
        top: 0;
    }
    50%{
        top: 1em;
    }
    100%{
        top: 0;
    }
}
@keyframes floatKiller{
    0%{
        top: 0;
    }
    50%{
        top: -1em;
    }
    100%{
        top: 0;
    }
}
@keyframes opa{
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
@keyframes opaT{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
#trackOrderDiv{
    opacity: 1;
    position: relative;
    display: flex;
    justify-content: center;
    top: -5em;
}

.homeTopNav .navHomeBtn{
    position: relative;
}
.homeTopNav .navHomeBtn::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 40px;
    background-color: #4070f4;
    border-radius: 25px;
}
.homeHeading{
    display: flex;
    justify-content: space-around;
    background-color: #121122;
    height: 9em;
}

.homeHeading nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    height: 7em;
    letter-spacing: 1px;
    font-size: 11px;
}

.homeHeading .homeTopNav .dropArrow{
    height: 5px;
    width: 5px;
    background-color: transparent;
    box-shadow: -2px 2px #fac1c1;
    transform: rotate(45deg);
    transition: 0.2s;
    position: relative;
    margin-left: 1.5em;
}

.homeHeading .homeTopNav .navShopBtn:hover .dropArrow{
    transform: rotate(-45deg);
}
.homeHeading .homeTopNav .navShopBtn{
    height: 4em;
}
.homeHeading .homeTopNav h3, .homeHeading{
    font-weight: 700;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
/*DDM*/
.homeHeading .homeTopNav .navShopBtn .classifier{
    display: flex;
    flex-direction: column;
    position: static;
    width: 4em;
    height: 6em;
    margin-top: 5.5em;
}
.homeHeading .homeTopNav .navShopBtn .classifier .cP p{
    transition: 0.2s;
}
.homeHeading .homeTopNav .navShopBtn .classifier .cP:hover p{
    color: aliceblue;
    transform: scale(1.2);
    width: max-content;
}

.homeHeading .homeTopNav .navShopBtn .ddm{
    display: none;
    position: static;
    width: max-content;
    height: 6.3em;
    margin-left: -0.5em;
    margin-top: 0.5em;
}
.homeHeading .homeTopNav .navShopBtn .ddm a{
    text-decoration: none;
}
@-webkit-keyframes fader{
    from{
        color: #eb009900;
    }
    to{
        color: #00ff95;
    }
}

.homeHeading .homeTopNav .navShopBtn:hover .ddm{
    display: block;
    
}
.homeHeading .homeTopNav .navShopBtn:focus p{
    -webkit-animation-name: fader;
    -webkit-animation-duration: 2s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-direction: alternate;
}

/*DDM*/
/* Home Logos*/

.homeLogo{
    height: 9em;
    width: 9em;
}

.homeHeading .explore .loginLogo{
    height: 8em;
    width: 8em;
    margin-bottom: 1.5em;
    transition: .2s;
    transform: scale(1.7);
}

.homeHeading .explore .loginLogo:hover{
    transform: scale(2);
}

/*Home Logos end*/
main{
    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes logoShower {
    0%{
        color: #fac1c1;
        transform: rotate(0deg);
    }
    50%{
        color: #fc0;
        text-shadow: #fc0 0 0 20px;
        transform: rotate(360deg);
    }
    100%{
        color: #fac1c1;
        transform: rotate(0deg);
    }
}

.str1, .str2, .str3{
    font-size: large;
    transition: 3s;
    visibility: visible;
    position: static;
}
.homeLogoAct:active .str1, .str1, .str2, .str3{
    animation: logoShower 2s ease-in-out infinite;
}
.complexLogo{
    display: flex;
    flex-direction: row;
}

/* STARS */

.str1, .str2, .str3{
    position: absolute;
}
.str1{
    margin-top: -0.5em;
    margin-left: 2.55em;
}
.str2{
    margin-left: 0.55em;
    margin-top: 1.5em;
}
.str3{
    margin-left: 4.55em;
    margin-top: 1.5em;
}

/* STARS */


/*   ADVANCED   */

button{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    margin-top: 3px;
    font-size: 11.8px;
    cursor: pointer;
    background: transparent;
}
span{
  display: block;
  padding: 1em 1em;
}
button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
button:hover::before, button:hover::after{
  width: 50%;
}
button:hover span::before, button:hover span::after{
  height: 50%;
}

.btn-4::after{
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4 span::after{
  right:0;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-4::before{
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}
.btn-4 span::before{
  left: 0;
  top: 0;
  transition-duration: 0.4s;
}


/* NAV TRACK */

nav#navOrderTrack{
    z-index: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 20em;
    width: 35em;
    border: none;
    border-radius: 10px;
    box-shadow: 100px 100px 100px rgb(0, 0, 0);
}
.shdw-1{
    height: max-content;
    width: max-content;
    border-radius: 10px;
    box-shadow: -90px -90px 100px rgb(0, 0, 0);
}
nav#navOrderTrack .unflex input{
    border: none;
    height: 5em;
    width: 18em;
    text-align: center;
    border-radius: 30px;
    color: black;
}
nav#navOrderTrack .unflex #goBtn{
    height: 2em;
    width: 5em;
    box-shadow: 6px 6px 10px black;
    transition: .05s;
}
nav#navOrderTrack .unflex #goBtn:active{
    transform: scale(0.8);
}
.trckbdys{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('bgfull.webp');
    height: 95vh;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h2#loader.ldng-untilCplt{
    opacity: 0;
    color: #000000;
    text-shadow: 1px 1px white;
}
